{% block title %}Films - {{ film.title }}{% endblock %}

{% block content %}

<h1>
    <span property="name">{{ film.title }}</span>
</h1>

<h2>Specification of the film:</h2>
<p>
    {{ film.city }}, {{ film.country }} <br/>
    Director: {{ film.director.first_name }} {{ film.director.last_name }}	<br/>
    Genre: {{ film.genre.name }} <br/>
    Main actor: {{ film.main_actor }}
</p>






    <h2>Reviews</h2>
{% if film.filmreview_set.all|length > 0 %}
<span rel="aggregateRating">
    <p typeof="AggregateRating">
        Average rating <span property="ratingValue">{{ film.averageRating|stringformat:".1f" }}</span>
        {% with film.filmreview_set.all|length as reviewCount %}
        from <span property="reviewCount">{{ reviewCount }}</span> review{{ reviewCount|pluralize }}
        {% endwith %}
    </p>
</span>
<ul rel="review">
    {% for review in film.filmreview_set.all %}
        <li typeof="Review">
            <p rel="reviewRating" typeof="Rating">
                <span property="worstRating" content="{{ RATING_CHOICES.0.0 }}"></span>
                <span property="ratingValue">{{ review.rating }}</span> star{{ review.rating|pluralize }}
                {% with RATING_CHOICES|last as best %}
                <span property="bestRating" content="{{ best.0 }}"></span>
                {% endwith %}
            </p>
            <p property="description">{{ review.comment }}</p>
            <p>Created by <span property="author">{{ review.user }}</span> on
                <span property="datePublished">{{ review.date}}</span></p>
        </li>
    {% endfor %}
</ul>
</span>
{% endif %}

<h3>Add Review</h3>
<form action="{% url 'review_create' film.id %}" method="post">
    {% csrf_token %}
    Message: <textarea name="comment" id="comment" rows="4"></textarea>
    <p>Rating:</p>
    <p>
    {% for rate in RATING_CHOICES %}
        <input type="radio" name="rating" id="rating{{ forloop.counter }}" value="{{ rate.1 }}" />
        <label for="choice{{ forloop.counter }}">{{ rate.1 }} star{{ rate.0|pluralize }}</label><br />
    {% endfor %}
    </p>
    <input type="submit" value="Review" />
</form>







{% endblock %}